@rendermode InteractiveServer
@using ACC.Shared.DTOs;
@using ACC.Shared.Enums; 
@using ACC.Shared.Utils; 
@using ACC.WebApp.Client.Components.Pages.ACC_Compiler;
@using ACC.WebApp.Client.Components.Pages.Guia.Modals;

@code {
    [Parameter] public LeccionDto Leccion { get; set; } = default!;
    private ModalActividades? ModalActividad;
    private string? urlActividadActual;
    private string mensajeError = string.Empty;
    private void ShowActivity(string url)
    {
        urlActividadActual = url;
        ModalActividad?.OpenModal();
    }
}

@* Renderiza el modal una sola vez, fuera del bucle *@
<ModalActividades Url="@urlActividadActual" @ref="ModalActividad" />
<div class="content leccion-container">
    <div class="nivel-bloom @Leccion.NivelBloom"><p>Nivel de bloom: @Leccion.NivelBloom</p></div>
    @* <br /> *@
    @foreach (var seccion in Leccion.OrdenSecciones)
    {
        switch (seccion)
        {
            case SeccionesContenido.CharpDialog:
                <CharpDialog Texto ="@Leccion.CharpDialog"/>
                break;

            case SeccionesContenido.CharpTip:
                 <CharpTip Texto="@Leccion.CharpTip"/>
                break;

            case SeccionesContenido.Teoria:
                if (!string.IsNullOrEmpty(Leccion.Teoria))
                {
                    @((MarkupString)Leccion.Teoria)
                }
                break;

            case SeccionesContenido.Ejemplo:
                if (!string.IsNullOrEmpty(Leccion.Ejemplo))
                {
                    @((MarkupString)Leccion.Ejemplo)
                }
                break;

            case SeccionesContenido.Practica:
            if (!string.IsNullOrEmpty(Leccion.Practica))
                {
                    @((MarkupString)Leccion.Practica)
                }
                break;

            case SeccionesContenido.Actividad:
                if (Leccion.TieneActividad && !string.IsNullOrEmpty(Leccion.UrlActividad))
                {
                    <button class="expand-btn" @onclick="() => ShowActivity(Leccion.UrlActividad!)">
                        Ver actividad interactiva
                    </button>
                }
                break;

            case SeccionesContenido.Compilador:
                if (Leccion.TieneCompilador)
                {
                    <CompiladorACC />
                }
                break;

            case SeccionesContenido.Video:
                if (!string.IsNullOrEmpty(Leccion.VideoId))
                {
                    <LiteYouTube VideoId="@Leccion.VideoId" />
                }
                break;

            default: 
                mensajeError = $"La seccion '{seccion}' no es reconocida y no se puede mostrar";
                @* <p style="color:red">[Sección desconocida: @seccion]</p> *@
                <InfoComponent 
                    Title="Sección desconocida"
                    Message=@mensajeError
                    StatusCode="400" ReturnUrl="/Guia" />

                break;
        }
    }
</div>