@rendermode InteractiveServer
@using ACC.Shared.DTOs;
@using ACC.Shared.Enums; 
@using ACC.Shared.Utils; 
@using ACC.WebApp.Client.Components.Pages.ACC_Compiler;
@using ACC.WebApp.Client.Components.Pages.Guia.Modals;

@code {
    [Parameter] public LeccionDto Leccion { get; set; } = default!;
    private ModalActividades? ModalActividad;
    private string? urlActividadActual;

    private void ShowActivity(string url)
    {
        urlActividadActual = url;
        ModalActividad?.OpenModal();
        //TODO: Seguir implementando las fucniones restantes y la division del bloque de html original.
    }
}

@* Renderiza el modal una sola vez, fuera del bucle *@
<ModalActividades Url="@urlActividadActual" @ref="ModalActividad" />
<div class="leccion-container">
    @foreach (var seccion in Leccion.OrdenSecciones)
    {
        switch (seccion)
        {
            case SeccionesContenido.CharpDialog:
                <CharpDialog Texto ="@Leccion.CharpDialog"/>
                break;

            case SeccionesContenido.CharpTip:
                 <CharpTip Texto="@Leccion.CharpTip"/>
                break;

            case SeccionesContenido.Teoria:
                if (!string.IsNullOrEmpty(Leccion.Teoria))
                {
                    @((MarkupString)Leccion.Teoria)
                }
                break;

            case SeccionesContenido.Ejemplo:
                if (!string.IsNullOrEmpty(Leccion.Ejemplo))
                {
                    @((MarkupString)Leccion.Ejemplo)
                }
                break;

            case SeccionesContenido.Practica:
            if (!string.IsNullOrEmpty(Leccion.Practica))
                {
                    @((MarkupString)Leccion.Practica)
                }
                break;

            case SeccionesContenido.Actividad:
                if (Leccion.TieneActividad && !string.IsNullOrEmpty(Leccion.UrlActividad))
                {
                    <button class="expand-btn" @onclick="() => ShowActivity(Leccion.UrlActividad!)">
                        Ver actividad interactiva
                    </button>
                }
                break;

            case SeccionesContenido.Compilador:
                if (Leccion.TieneCompilador)
                {
                    <CompiladorACC />
                }
                break;

            case SeccionesContenido.Evaluacion:
                if (Leccion.TieneEvaluacion && Leccion.IdEvaluacion.HasValue)
                {
                    <p>TODO: render evaluación</p>
                }
                break;

            default:
                <p style="color:red">[Sección desconocida: @seccion]</p>
                break;
        }
    }
</div>