@page "/Guia"

@rendermode InteractiveServer

@using ACC.WebApp.Client.Pages.Guia.Components.Examenes
@using ACC.Shared.Enums;
@using ACC.WebApp.Client.Services;
@using ACC.Shared.DTOs;

@inject NavegacionContenidoClient Navegacion

@code
{
    private List<NodoJerarquicoDto>? modulos;
    private int? moduloSeleccionadoId;

    protected override async Task OnInitializedAsync()
    {
        modulos = await Navegacion.ObtenerModulosAsync();
    }

    private void SeleccionarModulo(int idModulo)
    {
        moduloSeleccionadoId = idModulo;
    }
}

<div class="guia-navegador-container">
    <h3 class="guia-navegador-title">Guía De Estudios</h3>
    <p>Completa el contenido de cada modulo para adquirir conocimientos.</p>
    @if (modulos == null)
    {
        <p class="guia-navegador-loading">Cargando módulos...</p>
    }
    else
    {
            @foreach (var modulo in modulos)
            {
                <div class="card">
                    <div class="modulo-card-title">
                        @modulo.Nombre <span></span>
                    </div>
                    <div class="modulo-card-desc">
                        @modulo.Descripcion
                    </div>
                    <button @onclick="()=> SeleccionarModulo(modulo.Id)"
                            class="guia-navegador-btn @(moduloSeleccionadoId == modulo.Id ? "selected" : "")">
                        Navegar
                    </button>
                </div>
            }
    }
    @if (moduloSeleccionadoId.HasValue)
    {
        <GuiaMainComponent Tipo="@TipoNodoJerarquico.Modulo.ToString()" Id="@moduloSeleccionadoId.Value" />
    }
    <ExamenesMain></ExamenesMain>
</div>

@*<button @onclick="()=> SeleccionarModulo(modulo.Id)"
            class="guia-navegador-btn @(moduloSeleccionadoId == modulo.Id ? "selected" : "")">
        @modulo.Nombre
        <p>@modulo.Descripcion</p></button>


    -- no forma parte pero se debe guarda por si acaso ---> guia-navegador-btn-group

    </button>*@